
/* TODO : only for tests */
#target {
  position: absolute;
  pointer-events: none;
}

#backgroundWrap {
  background: transparent;
  position: absolute;
  pointer-events: none; 
  overflow: hidden;
  background: black;
}

#backgroundImage {
  background: url('../images/apocalypsis/background2.jpg') repeat 0 0 black;
  position: relative;
  pointer-events: none; 
  left: -300px;
  top: -300px;
  opacity:0.4;
  filter:alpha(opacity=40);
}

#backgroundOpacity {
  width: 100%;
  height: 100%;
  /*background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 18%, rgba(0,0,0,0.8) 47%, rgba(0,0,0,1) 72%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.3)), color-stop(18%,rgba(0,0,0,0.5)), color-stop(47%,rgba(0,0,0,0.8)), color-stop(72%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 18%,rgba(0,0,0,0.8) 47%,rgba(0,0,0,1) 72%,rgba(0,0,0,1) 100%); 
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 18%,rgba(0,0,0,0.8) 47%,rgba(0,0,0,1) 72%,rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 18%,rgba(0,0,0,0.8) 47%,rgba(0,0,0,1) 72%,rgba(0,0,0,1) 100%); 
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 18%,rgba(0,0,0,0.8) 47%,rgba(0,0,0,1) 72%,rgba(0,0,0,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#000000',GradientType=1 ); */
}

#viewport, #viewport2 {
/*margin: 300px;*/
  /*width:1024px;
  height:768px;*/
  overflow:hidden;
  border: 3px solid #555;
  border:1px solid black;
  /*background: url('../images/apocalypsis/background.jpg') repeat 0 0 transparent;*/
  background: transparent;
  
	position: absolute;
	left: 20px;
	top: 20px;
	bottom: 20px;
	right: 240px;
	border: 5px solid black;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;  
}

@font-face {
  font-family: 'Ethnocentric';
  src: url('ethnocentric.ttf') format('truetype');
}

html, body {
  font-family: Ethnocentric, sans-serif;
}

.mapRoot {
  display: block;
  clear: both;
  overflow: visible;
}

#map, #map2 {
  /*-webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;*/
  cursor: move;
  /*position: relative;
  left: -400px;
  top: -200px;   */ 
  /*-moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;*/
	-webkit-transform-origin: left top;
	-webkit-transform: translateZ(0);
	-moz-transform-origin: left top;
	-moz-transform: translateZ(0);
	-ms-transform-origin: left top;
	-ms-transform: translateZ(0);
	-o-transform-origin: left top;
	-o-transform: translateZ(0);
	transform-origin: left top;
	transform: translateZ(0);  
}

#tools_wrapper {
  position:absolute;
  z-index:5000;
  left:30px;
  top:30px;
}
#crosshairs{
  position: absolute;
  left: 362px;
  top: 234px;
  z-index: 5000;
  pointer-events: none;
  border: 1px solid red;
}

.reperes {
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 1000;
}

.reperes:hover {
  -webkit-animation: blip-function 0.5s linear infinite; 
     -moz-animation: blip-function 0.5s linear infinite; 
      -ms-animation: blip-function 0.5s linear infinite; 
       -o-animation: blip-function 0.5s linear infinite; 
          animation: blip-function 0.5s linear infinite; 
}

/*-------- Map elements -------------*/

#map .planets .planet, #map  .coords .coordPoint, #map  .sector .sectorPoint, #map  .system .systemPoint   {
  position: absolute;
  cursor: pointer;
}

#map  .coords  .coordPoint.pc, #map  .system .sun {
  position: absolute;
  /*width: 90px;
  height: 90px;*/
}

#map  .system .sun {
  pointer-events: none;
}

#map  .mapRoot.zoomOnPlanet .coords .coordPoint.extended, #map .mapRoot .coords.unloaded .coordPoint.pc, #map  .mapRoot.zoomOnPlanet .system .systemPoint, #map  .mapRoot.zoomOnPlanet #svgRoot #stars , #map  .mapRoot.zoomOnPlanet #stars{
  display: none;
}

#map  .mapRoot.zoomOnPlanet .coords.unloaded .coordPoint.extended, #map  .mapRoot.zoomOnPlanet .system.unloaded .systemPoint,
#map  .mapRoot.zoomOnPlanet .system.unloaded .systemPoint, #map  .mapRoot.zoomOnCoords .system.unloaded .systemPoint {
  display: block;
}

/*#map  .mapRoot.zoomOnCoords .system.unknown .systemPoint, #map  .mapRoot.zoomOnPlanet .system.unknown .systemPoint {
  display: block;
}*/

#map  .mapRoot.zoomOnCoords .fleets, #map  .mapRoot.zoomOnCoords .coords .coordPoint.pc, #map  .mapRoot.zoomOnCoords .planets, #map  .mapRoot.zoomOnCoords .system .systemPoint, #map  .mapRoot.zoomOnCoords #svgRoot #lines {
  display: none;
}

#map  .mapRoot.zoomOnSystem .fleets, #map  .mapRoot.zoomOnSystem .planets, #map  .mapRoot.zoomOnSystem .sun, #map  .mapRoot.zoomOnSystem .coords, #map  .mapRoot.zoomOnSystem #svgRoot #lines {
  display: none;
}

#map  .system .sun {
  z-index : 2;
}

#map .planets .planet {
  z-index : 5;
}

#map  .coords .coordPoint {
  z-index : 10;
}


#map  .coords  .coordPoint.extended {
  width: 150px;
  height: 110px;
}

#map  .coords .fleet {
  z-index : 12;
}

#map  .sector .sectorPoint {
  z-index : 15;
}

  
#map  .system .systemPoint {
  z-index : 20;
  width: 130px;
  height: 110px;
}

#map .planet .planetImg, #map .coordPoint .coordPointImg, #map .systemPoint .systemPointImg  {
  border-radius: 30px;
}

#map .planet:hover .overlay, #map .planet.active .overlay {
  background: url('../images/apocalypsis/planet_radar.png') no-repeat 0 0 transparent;  
  opacity: 0.7;
  -webkit-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
     -moz-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
      -ms-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
       -o-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
          animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
  height: 80px;
  left: -15px;
  position: relative;
  top: -68px;
  margin-bottom: -80px;
  width: 80px;
}

#map  .system .systemPoint:hover .overlay, #map  .system.active .systemPoint .overlay,
#map  .system.unknown .systemPoint:hover .overlay, #map  .system.unknown.active .systemPoint .overlay {
  
  background: url('../images/apocalypsis/system_radar.png') no-repeat 0 0 transparent;  
  opacity: 0.7;
  -webkit-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
     -moz-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
      -ms-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
       -o-animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
          animation: pulsie-function 5s linear infinite, rotating-function 30s linear infinite; 
  
  height: 130px;
  left: 0px;
  position: relative;
  top: -122px;
  margin-bottom: -130px;
  width: 130px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  filter: none;
}

#map  .system.unknown .systemPoint .overlay {
  border-radius: 20px 20px 20px 20px;
  height: 110px;
  margin-bottom: -80px;
  position: relative;
  top: -115px;
  width: 130px;
  -moz-box-shadow: inset 0px 0px 120px 20px #000000;
  -webkit-box-shadow: inset 0px 0px 120px 20px #000000;
  -o-box-shadow: inset 0px 0px 120px 20px #000000;
  box-shadow: inset 0px 0px 120px 20px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=120);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#map .planet:hover .planetImg, #map .coordPoint:hover .coordPointImg, #map .systemPoint:hover .systemPointImg {
  /*box-shadow: 0px 0px 5px 2px #ccc;*/
}

#map .planet .name {
  /*padding-top: 10px;*/
  font-size: 9px;
  color: #ccc;
}

#map .planet:hover .name, #map .planet.active .name  {
  padding-top: 15px;
}

/*#map .coords.unknown .coordPoint .coordPointImg, #map .system.unknown .systemPoint .systemPointImg {
  box-shadow: 0px 0px 5px 2px red;
}*/

#map .coords.unloaded .coordPoint .coordPointImg, #map .system.unloaded .systemPoint .systemPointImg {
  box-shadow: 0px 0px 5px 2px orange;
}

/*-------- Lines -------------*/

#lines .line {
  position: absolute;
  width: 3px;
  background-color: #06a;
  z-index: 100;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

/*-------- Fleets -------------*/
.fleets .fleet {
  position: absolute;
  /*rotation-point:50% 50%;*/
}
.fleetStatic {
  pointer-events: none;
}

/*-------- Colorbox ------------*/
#cboxOverlay.popininfo {
  display: none !important;
}

#cboxWrapper {
  -moz-box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  -webkit-box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  -o-box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=30);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

#colorbox.popininfo #cboxContent { 
  border-width: 3px solid grey; 
  -moz-box-shadow: inset 0px 0px 100px 2px #96b5f9;
  -webkit-box-shadow: inset 0px 0px 100px 2px #96b5f9;
  -o-box-shadow: inset 0px 0px 100px 2px #96b5f9;
  box-shadow: inset 0px 0px 100px 2px #96b5f9;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#96b5f9, Direction=NaN, Strength=50);
  background: none repeat scroll 0 0 rgba(18, 51, 128, 0.7) !important;
}

#colorbox.popininfo.loading #cboxContent { 
  background: url('../images/apocalypsis/bruit.gif') repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;
}

#colorbox.popininfo #cboxContent #cboxLoadedContent {
  padding: 20px;
  padding-top: 70px;
}

#colorbox.popininfo #cboxContent #cboxTitle {
  float: none;
  font-size: 24px;
  position: absolute;
  top: 30px;
  border-bottom: 1px solid #555555;
  display: block;
  height: 30px;  
  color: #FFA500;
}

#cboxLoadingOverlay{ 
  display:none;
}
#cboxLoadingGraphic{ 
  display:none;
}

/*-------- Animations ------------*/

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes pulsie-function {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  51% {
    opacity: 0.4;
  }
  56% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}
@-moz-keyframes pulsie-function {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  51% {
    opacity: 0.4;
  }
  56% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}
@-ms-keyframes pulsie-function {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  51% {
    opacity: 0.4;
  }
  56% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes blip-function {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}
@-moz-keyframes blip-function {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}
@-ms-keyframes blip-function {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}
