
/* TODO : only for tests */
#target {
  position: absolute;
}

#viewport {
/*margin: 300px;*/
  width:800px;
  height:600px;
  overflow:hidden;
  /*position: relative;*/
  border: 3px solid #555;
  border:1px solid black;
}

.mapRoot {
  display: block;
  clear: both;
  overflow: visible;
}

#map {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  cursor: move;
  /*position: relative;
  left: -400px;
  top: -200px;   */ 
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
}

#tools_wrapper {
  position:absolute;
  z-index:5000;
  left:30px;
  top:30px;
}
#crosshairs{
  position: absolute;
  left: 260px;
  top: 160px;
  z-index: 5000;
  pointer-events: none;
}

#map.zoom1 .mapRoot {
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
  -ms-transform: scale(1,1);
}

#map.zoom1 .mapRoot .planets img {
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
  -ms-transform: scale(1,1);
}

#map.zoom2 .mapRoot {
  -moz-transform: scale(2,2);
  -webkit-transform: scale(2,2);
  -o-transform: scale(2,2);
  transform: scale(2,2);
  -ms-transform: scale(2,2);
}

#map.zoom2 .mapRoot .planets img {
  -moz-transform: scale(0.5,0.5);
  -webkit-transform: scale(0.5,0.5);
  -o-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
  -ms-transform: scale(0.5,0.5);
}

#map.zoom3 .mapRoot {
  -moz-transform: scale(4,4);
  -webkit-transform: scale(4,4);
  -o-transform: scale(4,4);
  transform: scale(4,4);
  -ms-transform: scale(4,4);
}

#map.zoom3 .mapRoot .planets img {
  -moz-transform: scale(0.25,0.25);
  -webkit-transform: scale(0.25,0.25);
  -o-transform: scale(0.25,0.25);
  transform: scale(0.25,0.25);
  -ms-transform: scale(0.25,0.25);
}

#map.zoom4 {
  -moz-transform: scale(8);
  -webkit-transform: scale(8);
  -o-transform: scale(8);
  transform: scale(8);
  -ms-transform: scale(8);
}

#map.zoom5 {
  -moz-transform: scale(16);
  -webkit-transform: scale(16);
  -o-transform: scale(16);
  transform: scale(16);
  -ms-transform: scale(16);
}


#map.zoom5 .planets img {
  -moz-transform: scale(0.625);
  -webkit-transform: scale(0.625);
  -o-transform: scale(0.625);
  transform: scale(0.625);
  -ms-transform: scale(0.625);
}

#map.zoom6 {
  -moz-transform: scale(32);
  -webkit-transform: scale(32);
  -o-transform: scale(32);
  transform: scale(32);
  -ms-transform: scale(32);
}

#map.zoom7 {
  -moz-transform: scale(64);
  -webkit-transform: scale(64);
  -o-transform: scale(64);
  transform: scale(64);
  -ms-transform: scale(64);
}

#map.zoom8 {
  -moz-transform: scale(128);
  -webkit-transform: scale(128);
  -o-transform: scale(128);
  transform: scale(128);
  -ms-transform: scale(128);
}

#map.zoom9 {
  -moz-transform: scale(256);
  -webkit-transform: scale(256);
  -o-transform: scale(256);
  transform: scale(256);
  -ms-transform: scale(256);
}

#map.zoom10 {
  -moz-transform: scale(512);
  -webkit-transform: scale(512);
  -o-transform: scale(512);
  transform: scale(512);
  -ms-transform: scale(512);
}

#map .planets .planet, #map  .system .sun, #map  .coords .coordPoint, #map  .sector .sectorPoint, #map  .system .systemPoint   {
  position: absolute;
  width: 80px;
  height: 80px;
}

#map  .system .sun {
  pointer-events: none;
}

/*#map  .mapRoot.zoomOnPlanet .coords .coordPoint, #map  .mapRoot.zoomOnPlanet .system .systemPoint {
  display: none;
}

#map  .mapRoot.zoomOnCoords .planets, #map  .mapRoot.zoomOnCoords .system .systemPoint {
  display: none;
}

#map  .mapRoot.zoomOnSystem .planets, #map  .mapRoot.zoomOnSystem .coords {
  display: none;
}*/

