
/* TODO : only for tests */
#target {
  position: absolute;
  pointer-events: none;
}

#viewport {
/*margin: 300px;*/
  width:1024px;
  height:768px;
  overflow:hidden;
  border: 3px solid #555;
  border:1px solid black;
  background: black;
}

@font-face {
  font-family: 'Ethnocentric';
  src: url('ethnocentric.ttf') format('truetype');
}

html, body {
  font-family: Ethnocentric, sans-serif;
}

.mapRoot {
  display: block;
  clear: both;
  overflow: visible;
}

#map {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  cursor: move;
  /*position: relative;
  left: -400px;
  top: -200px;   */ 
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
}

#tools_wrapper {
  position:absolute;
  z-index:5000;
  left:30px;
  top:30px;
}
#crosshairs{
  position: absolute;
  left: 362px;
  top: 234px;
  z-index: 5000;
  pointer-events: none;
  border: 1px solid red;
}

/*-------- Map elements -------------*/

#map .planets .planet, #map  .coords .coordPoint, #map  .sector .sectorPoint, #map  .system .systemPoint   {
  position: absolute;
  cursor: pointer;
}

#map  .coords  .coordPoint.pc, #map  .system .sun {
  position: absolute;
  /*width: 90px;
  height: 90px;*/
}

#map  .system .sun {
  pointer-events: none;
}

#map  .mapRoot.zoomOnPlanet .coords .coordPoint.extended, #map .mapRoot .coords.unloaded .coordPoint.pc, #map  .mapRoot.zoomOnPlanet .system .systemPoint, #map  .mapRoot.zoomOnPlanet #svgRoot #stars , #map  .mapRoot.zoomOnPlanet #stars{
  display: none;
}

#map  .mapRoot.zoomOnPlanet .coords.unloaded .coordPoint.extended, #map  .mapRoot.zoomOnPlanet .system.unloaded .systemPoint,
#map  .mapRoot.zoomOnPlanet .system.unloaded .systemPoint, #map  .mapRoot.zoomOnCoords .system.unloaded .systemPoint {
  display: block;
}

/*#map  .mapRoot.zoomOnCoords .system.unknown .systemPoint, #map  .mapRoot.zoomOnPlanet .system.unknown .systemPoint {
  display: block;
}*/

#map  .mapRoot.zoomOnCoords .fleets, #map  .mapRoot.zoomOnCoords .coords .coordPoint.pc, #map  .mapRoot.zoomOnCoords .planets, #map  .mapRoot.zoomOnCoords .system .systemPoint, #map  .mapRoot.zoomOnCoords #svgRoot #lines {
  display: none;
}

#map  .mapRoot.zoomOnSystem .fleets, #map  .mapRoot.zoomOnSystem .planets, #map  .mapRoot.zoomOnSystem .sun, #map  .mapRoot.zoomOnSystem .coords, #map  .mapRoot.zoomOnSystem #svgRoot #lines {
  display: none;
}

#map  .system .sun {
  z-index : 2;
}

#map .planets .planet {
  z-index : 5;
}

#map  .coords .coordPoint {
  z-index : 10;
}


#map  .coords  .coordPoint.extended {
  width: 150px;
  height: 110px;
}

#map  .coords .fleet {
  z-index : 12;
}

#map  .sector .sectorPoint {
  z-index : 15;
}

  
#map  .system .systemPoint {
  z-index : 20;
  width: 130px;
  height: 110px;
}

#map .planet .planetImg, #map .coordPoint .coordPointImg, #map .systemPoint .systemPointImg  {
  border-radius: 30px;
}

#map .planet:hover .overlay, #map .planet.active .overlay {
  background: url('../images/apocalypsis/planet_selected.gif') no-repeat 0 0 transparent;
  height: 80px;
  left: -15px;
  position: relative;
  top: -68px;
  margin-bottom: -80px;
  width: 80px;
}

#map  .system .systemPoint:hover .overlay, #map  .system.active .systemPoint .overlay,
#map  .system.unknown .systemPoint:hover .overlay, #map  .system.unknown.active .systemPoint .overlay {
  background: url('../images/apocalypsis/system_selected.gif') no-repeat 0 0 transparent;
  height: 130px;
  left: 0px;
  position: relative;
  top: -122px;
  margin-bottom: -130px;
  width: 130px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  filter: none;
}

#map  .system.unknown .systemPoint .overlay {
  border-radius: 20px 20px 20px 20px;
  height: 110px;
  margin-bottom: -80px;
  position: relative;
  top: -115px;
  width: 130px;
  -moz-box-shadow: inset 0px 0px 120px 20px #000000;
  -webkit-box-shadow: inset 0px 0px 120px 20px #000000;
  -o-box-shadow: inset 0px 0px 120px 20px #000000;
  box-shadow: inset 0px 0px 120px 20px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=120);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#map .planet:hover .planetImg, #map .coordPoint:hover .coordPointImg, #map .systemPoint:hover .systemPointImg {
  /*box-shadow: 0px 0px 5px 2px #ccc;*/
}

#map .planet .name {
  /*padding-top: 10px;*/
  font-size: 9px;
}

/*#map .coords.unknown .coordPoint .coordPointImg, #map .system.unknown .systemPoint .systemPointImg {
  box-shadow: 0px 0px 5px 2px red;
}*/

#map .coords.unloaded .coordPoint .coordPointImg, #map .system.unloaded .systemPoint .systemPointImg {
  box-shadow: 0px 0px 5px 2px orange;
}

/*-------- Lines -------------*/

#lines .line {
  position: absolute;
  width: 3px;
  background-color: #06a;
  z-index: 100;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

/*-------- Fleets -------------*/
.fleets .fleet {
  position: absolute;
  /*rotation-point:50% 50%;*/
}
.fleetStatic {
  pointer-events: none;
}

/*-------- Colorbox ------------*/
#cboxOverlay.popininfo {
  display: none !important;
}

#cboxWrapper {
  -moz-box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  -webkit-box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  -o-box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  box-shadow: inset 0px 0px 30px 15px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=30);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

#colorbox.popininfo #cboxContent { 
  border-width: 3px solid grey; 
  -moz-box-shadow: inset 0px 0px 100px 2px #96b5f9;
  -webkit-box-shadow: inset 0px 0px 100px 2px #96b5f9;
  -o-box-shadow: inset 0px 0px 100px 2px #96b5f9;
  box-shadow: inset 0px 0px 100px 2px #96b5f9;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#96b5f9, Direction=NaN, Strength=50);
  background: none repeat scroll 0 0 rgba(18, 51, 128, 0.7) !important;
}

#colorbox.popininfo.loading #cboxContent { 
  background: url('../images/apocalypsis/bruit.gif') repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;
}

#colorbox.popininfo #cboxContent #cboxLoadedContent {
  padding: 20px;
  padding-top: 70px;
}

#colorbox.popininfo #cboxContent #cboxTitle {
  float: none;
  font-size: 24px;
  position: absolute;
  top: 30px;
  border-bottom: 1px solid #555555;
  display: block;
  height: 30px;  
  color: #FFA500;
}

#cboxLoadingOverlay{ 
  display:none;
}
#cboxLoadingGraphic{ 
  display:none;
}